* {
    /* margin: 0; */
    /* padding: 0; */
}

/* first section design */
.first-section-container {
    width: 1920px;
    height: 850px;
    flex-shrink: 0;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
}

.title-text {
    width: 50%;
    text-align: center;
}

.title {
    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 100px;
}

.btn-praimary {
    display: inline-flex;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: white;
}